{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunicaciones USM</title>
    <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

  {% block content %}

    <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-2">
            <img src="{% static 'USM1.png' %}" class="img-fluid" alt="imagen USM">
          </div>
        <div class="col-10">
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                  <span class="navbar-text">
                    <h1>Sistema Integrado de Notificaciones</h1>
                  </span>
                </div>
            </nav>
        
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand" href="/Inicio/">Inicio</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/admin/">Administración</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
        </div>
    </div>

    <br>
    
    <div class="card-container">
      {% for comunicado in comunicados %}
          <div class="card mb-4" style="width: 18rem;">
              <div class="card-body">
                  <h5 class="card-title">{{ comunicado.titulo }}</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">{{ comunicado.entidad }}</h6>
                  <p class="card-text">{{ comunicado.detalle }}</p>
              </div>
          </div>
      {% endfor %}
    </div>
  
  {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>

</html>